CONFIG_LV_COLOR_16_SWAP=y
CONFIG_LV_COLOR_DEPTH_16=y
CONFIG_LV_USE_USER_DATA=y
CONFIG_LV_FONT_MONTSERRAT_20=y
CONFIG_LV_FONT_SIMSUN_16_CJK=y
CONFIG_PARTITION_TABLE_SINGLE_APP_LARGE=y
# CONFIG_LV_BUILD_EXAMPLES is not set
